{% extends "base.html" %}

{% block content %}
<h2>Planning</h2>

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        {% for slot in slots %}
        <tr>
            <td>{{ slot.resident }}</td>
            <td>{{ slot.date | fr_date }}</td>
            <td>{{ slot.hour }}</td>
            <td>
                <form action="{{ url_for('delete', id=slot.id) }}" method="POST"
                      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce créneau ?');">
                    <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
